<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!--<![endif]-->
<!--<![endif]-->
<html lang="en">
<head>
<title>Hasta - Responsive MultiPurpose HTML5 Template</title>
<meta charset="utf-8">
<!-- Meta -->
<meta name="keywords" content="" />
<meta name="author" content="">
<meta name="robots" content="" />
<meta name="description" content="" />

<!-- this styles only adds some repairs on idevices  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico">

<!-- Google fonts - witch you want to use - (rest you can just remove) -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='https://www.google.com/fonts#UsePlace:use/Collection:Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://www.google.com/fonts#UsePlace:use/Collection:Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<!-- Stylesheets -->
<link rel="stylesheet" media="screen" href="js/bootstrap/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="js/mainmenu/menu.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />
<link rel="stylesheet" href="css/layouts.css" type="text/css" />
<link rel="stylesheet" href="css/shortcodes.css" type="text/css" />
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="css/responsive-leyouts.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/Simple-Line-Icons-Webfont/simple-line-icons.css" media="screen" />
<link rel="stylesheet" href="css/et-line-font/et-line-font.css">
<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
<link rel="stylesheet" href="js/jFlickrFeed/style.css" />
<link rel="stylesheet" type="text/css" href="js/smart-forms/smart-forms.css">




<!-- Remove the below comments to use your color option -->
<!--<link rel="stylesheet" href="css/colors/lightblue.css" />-->
<!--<link rel="stylesheet" href="css/colors/orange.css" />-->
<!--<link rel="stylesheet" href="css/colors/green.css" />-->
<!--<link rel="stylesheet" href="css/colors/pink.css" />-->
<!--<link rel="stylesheet" href="css/colors/red.css" />-->
<!--<link rel="stylesheet" href="css/colors/purple.css" />-->
<!--<link rel="stylesheet" href="css/colors/bridge.css" />-->
<!--<link rel="stylesheet" href="css/colors/yellow.css" />-->
<!--<link rel="stylesheet" href="css/colors/violet.css" />-->
<!--<link rel="stylesheet" href="css/colors/cyan.css" />-->
<!--<link rel="stylesheet" href="css/colors/mossgreen.css" />-->

</head>

<body>
<div class="site_wrapper">
  <div class="topbar white topbar-padding">
    <div class="container">
      <div class="topbar-left-items">
        <ul class="toplist toppadding pull-left paddtop1">
          <li class="rightl"><i class="fa fa-phone"></i> 1234 - 5678 - 9012</li>
          <li><i class="fa fa-envelope"></i> yourmail@domain.com</li>
        </ul>
      </div>
      <!--end left-->
      
      <div class="topbar-right-items pull-right">
        <ul class="toplist toppadding">
          <li class="lineright"><a href="#">Login</a></li>
          <li class="lineright"><a href="#">Register</a></li>
          <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li class="last"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="header">
    <div class="container">
      <div class="navbar yellow-green navbar-default yamm">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <a href="index.html" class="navbar-brand"><img src="images/logo.png" alt=""/></a> </div>
        <div id="navbar-collapse-grid" class="navbar-collapse collapse pull-right">
          <ul class="nav yellow-green navbar-nav">
            <li> <a href="index.html" class="dropdown-toggle">Home</a></li>
            <li> <a href="about.html" class="dropdown-toggle">About Me</a></li>
            <li class="dropdown"> <a href="fullwidth-post.html" class="dropdown-toggle active">Posts</a>
              <ul class="dropdown-menu five" role="menu">
                <li> <a class="active" href="gallerypost.html">Gallery Post</a> </li>
                <li> <a href="fullwidth-post.html">Full Width Post</a> </li>
                <li> <a href="video-post.html">Video Post</a> </li>
                <li> <a href="index.html">Post with Sidebar</a></li>
              </ul>
            </li>
            <li> <a href="contact.html" class="dropdown-toggle">Contact Me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--end menu-->
  <div class="clearfix"></div>
  
    <section>
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-md-6">
          <div class="blog2-header-box">
            <div class="image-holder">
              <div class="text-box top-padding"> <a href="#">
                <h1 class="title uppercase dosis">pharetra quis vulputate </h1>
                </a> <a href="#">
                <h1 class="title uppercase dosis">pharetra vulputate </h1>
                </a>
                <div class="post-info"><span><i class="fa fa-user"></i> By John Doe</span> <span><i class="fa fa-clock-o"></i> 20/07/2015</span> <span><i class="fa fa-comment"></i> 15</span> </div>
              </div>
              <img src="http://placehold.it/1000x650" alt="" class="img-responsive"/> </div>
          </div>
        </div>
        <!--end item-->
        
        <div class="col-md-6">
          <div class="blog2-header-box">
            <div class="image-holder">
              <div class="text-box top-padding"> <a href="#">
                <h1 class="title uppercase dosis">pharetra quis vulputate </h1>
                </a> <a href="#">
                <h1 class="title uppercase dosis">pharetra vulputate </h1>
                </a>
                <div class="post-info"><span><i class="fa fa-user"></i> By John Doe</span> <span><i class="fa fa-clock-o"></i> 20/07/2015</span> <span><i class="fa fa-comment"></i> 15</span> </div>
              </div>
              <img src="http://placehold.it/1000x650" alt="" class="img-responsive"/> </div>
          </div>
        </div>
        <!--end item--> 
        
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
    
    <section class="sec-tpadding-2 section-light">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="col-md-12 nopadding">
              <div class="blog1-post-holder">
                <div class="image-holder">
                  <div class="post-info two"> <span><i class="fa fa-user"></i> Charlotte</span> <span><i class="fa fa-calendar"></i> 26 April , 2015</span> </div>
                  <div id="owl-demo4" class="owl-carousel">
                    <div class="item"> <img src="http://placehold.it/1200x600" alt="" class="img-responsive"/> </div>
                    <!--end slide item-->
                    
                    <div class="item"> <img src="http://placehold.it/1200x600" alt="" class="img-responsive"/> </div>
                    <!--end slide item-->
                    
                    <div class="item"> <img src="http://placehold.it/1200x600" alt="" class="img-responsive"/> </div>
                    <!--end slide item-->
                    
                    <div class="item"> <img src="http://placehold.it/1200x600" alt="" class="img-responsive"/> </div>
                    <!--end slide item--> 
                    
                  </div>
                  <!--end carousel--> 
                  
                </div>
                <div class="text-box-inner">
                  <h4 class="dosis uppercase less-mar3"><a href="#">About me</a></h4>
                  <br/>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tellus diam, volutpat</p>
                  <br/>
                  <h4 class="dosis uppercase less-mar3"><a href="#">Aliquam ornare hendrerit augue</a></h4>
                  <br/>
                  <ul class="iconlist dark">
                    <li><i class="fa fa-check"></i> Sed massa tellus aliquam rhoncus venenatis quis. </li>
                    <li><i class="fa fa-check"></i> Development dolor sit amet consectetur adipiscing elit Phasellus </li>
                    <li><i class="fa fa-check"></i> Etiam dictum Nunc enim Sed massa tellus aliquam rhoncus venenatis</li>
                    <li><i class="fa fa-check"></i> Magna eget scelerisque metus massa in neque sit consectetur </li>
                  </ul>
                  <br/>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tellus diam, volutpat</p>
                  <br/>
                  <h4 class="dosis uppercase less-mar3"><a href="#">Share this article</a></h4>
                  <br/>
                  <ul class="blog1-social-icons">
                    <li><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                  <br/>
                  <br/>
                  <br/>
                  <div class="blog1-post-info-box">
                    <div class="text-box border padding-3">
                      <div class="iconbox-medium left round overflow-hidden"><img src="http://placehold.it/110x110" alt="" class="img-responsive"/></div>
                      <div class="text-box-right more-padding-2">
                        <h4 class="uppercase dosis">Charlotte</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. </p>
                        <br/>
                        <a class="btn btn-border yellow-green btn-small-2 " href="#">Read more</a> </div>
                    </div>
                  </div>
                  <!--end item-->
                  <div class="clearfix"></div>
                  <br/>
                  <br/>
                  <h4 class="dosis uppercase less-mar3"><a href="#">Related Posts</a></h4>
                  <br/>
                  <div class="col-md-4 bmargin">
                    <div class="image-holder"><a href="#"><img src="http://placehold.it/1000x800" alt="" class="img-responsive"/></a></div>
                    <div class="clearfix"></div>
                    <h5 class="dosis uppercase less-mar1"><a href="#">Aliquam ornare</a></h5>
                    <div class="blog1-post-info"> <span>By John Doe</span><span>May 19</span> </div>
                  </div>
                  <!--end item-->
                  
                  <div class="col-md-4 bmargin">
                    <div class="image-holder"><a href="#"><img src="http://placehold.it/1000x800" alt="" class="img-responsive"/></a></div>
                    <div class="clearfix"></div>
                    <h5 class="dosis uppercase less-mar1"><a href="#">Aliquam ornare</a></h5>
                    <div class="blog1-post-info"> <span>By John Doe</span><span>May 19</span> </div>
                  </div>
                  <!--end item-->
                  
                  <div class="col-md-4 bmargin">
                    <div class="image-holder"><a href="#"><img src="http://placehold.it/1000x800" alt="" class="img-responsive"/></a></div>
                    <div class="clearfix"></div>
                    <h5 class="dosis uppercase less-mar1"><a href="#">Aliquam ornare</a></h5>
                    <div class="blog1-post-info"> <span>By John Doe</span><span>May 19</span> </div>
                  </div>
                  <!--end item-->
                  
                  <div class="clearfix"></div>
                  <br/>
                  <br/>
                  <h4 class="dosis uppercase less-mar3"><a href="#">3 Comments</a></h4>
                  <br/>
                  <div class="blog1-post-info-box">
                    <div class="text-box border padding-3">
                      <div class="iconbox-medium left round overflow-hidden"><img src="http://placehold.it/110x110" alt="" class="img-responsive"/></div>
                      <div class="text-box-right more-padding-2">
                        <h5 class="uppercase dosis less-mar2">Charlotte</h5>
                        <div class="blog1-post-info"> <span>July 15 2015 at 10:30 AM</span></div>
                        <p class="paddtop1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. </p>
                        <br/>
                        <a class="btn btn-border yellow-green btn-small-2 " href="#">Reply</a> </div>
                    </div>
                  </div>
                  <!--end item-->
                  
                  <div class="clearfix"></div>
                  <br/>
                  <div class="blog1-post-info-box">
                    <div class="text-box border padding-3">
                      <div class="iconbox-medium left round overflow-hidden"><img src="http://placehold.it/110x110" alt="" class="img-responsive"/></div>
                      <div class="text-box-right more-padding-2">
                        <h5 class="uppercase dosis less-mar2">John William</h5>
                        <div class="blog1-post-info"> <span>July 15 2015 at 10:30 AM</span></div>
                        <p class="paddtop1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. </p>
                        <br/>
                        <a class="btn btn-border yellow-green btn-small-2 " href="#">Reply</a> </div>
                    </div>
                  </div>
                  <!--end item-->
                  
                  <div class="clearfix"></div>
                  <br/>
                  <div class="blog1-post-info-box less-width pull-right">
                    <div class="text-box border padding-3">
                      <div class="iconbox-medium left round overflow-hidden"><img src="http://placehold.it/110x110" alt="" class="img-responsive"/></div>
                      <div class="text-box-right more-padding-2">
                        <h5 class="uppercase dosis less-mar2">John William</h5>
                        <div class="blog1-post-info"> <span>July 15 2015 at 10:30 AM</span></div>
                        <p class="paddtop1">Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                        <br/>
                        <a class="btn btn-border yellow-green btn-small-2 " href="#">Reply</a> </div>
                    </div>
                  </div>
                  <!--end item-->
                  <div class="clearfix"></div>
                  <a class="loadmore-but" href="#">Load more Comments</a>
                  <div class="smart-forms bmargin">
            <h4 class=" dosis uppercase">Post a Comment</h4>
           
            <form method="post" action="php/smartprocess.php" id="smart-form">
              <div>
                <div class="section">
                  <label class="field prepend-icon">
                    <input type="text" name="sendername" id="sendername" class="gui-input" placeholder="Enter name">
                    <span class="field-icon"><i class="fa fa-user"></i></span> </label>
                </div>
                <!-- end section -->
                
                <div class="section">
                  <label class="field prepend-icon">
                    <input type="email" name="emailaddress" id="emailaddress" class="gui-input" placeholder="Email address">
                    <span class="field-icon"><i class="fa fa-envelope"></i></span> </label>
                </div>
                <!-- end section -->
                
                <div class="section">
                  <label class="field prepend-icon">
                    <input type="text" name="sendersubject" id="sendersubject" class="gui-input" placeholder="Enter subjec">
                    <span class="field-icon"><i class="fa fa-lightbulb-o"></i></span> </label>
                </div>
                <!-- end section -->
                
                <div class="section">
                  <label class="field prepend-icon">
                    <textarea class="gui-textarea" id="sendermessage" name="sendermessage" placeholder="Enter message"></textarea>
                    <span class="field-icon"><i class="fa fa-comments"></i></span> <span class="input-hint"> <strong>Hint:</strong> Please enter between 80 - 300 characters.</span> </label>
                </div>
                <!-- end section --> 
                
                <div class="result"></div>
                <!-- end .result  section --> 
                
              </div>
              <!-- end .form-body section -->
              <div class="form-footer">
                <button type="submit" data-btntext-sending="Sending..." class="button btn-primary yellow-green">Submit</button>
                <button type="reset" class="button"> Cancel </button>
              </div>
              <!-- end .form-footer section -->
            </form>
          </div>
          <!-- end .smart-forms section --> 
                </div>
              </div>
            </div>
            <!--end post--> 
            
          </div>
          <!--end left item-->
          
          <div class="col-md-4">
            <div class="col-md-12 nopadding">
              <div class="blog1-sidebar-box">
                <div class="image-holder"><img src="http://placehold.it/360x340" alt="" class="img-responsive"/></div>
                <div class="text-box-inner">
                  <h5 class="uppercase dosis">Photographer & Blogger</h5>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. </p>
                  <br/>
                  <div class="clearfix"></div>
                  <ul class="blog1-social-icons">
                    <li><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--end author info-->
            
            <div class="col-md-12 nopadding">
              <div class="blog1-sidebar-box">
                <div class="text-box-inner">
                  <h5 class="uppercase dosis">Search</h5>
                  <div class="clearfix"></div>
                  <input class="blog1-sidebar-serch_input" type="search" placeholder="Email Address">
                  <input name="" value="Submit" class="blog1-sidebar-serch-submit" type="submit">
                </div>
              </div>
            </div>
            <!--end sidebar box-->
            
            <div class="col-md-12 nopadding">
              <div class="blog1-sidebar-box">
                <div class="text-box-inner">
                  <h5 class="uppercase dosis">Categories</h5>
                  <div class="clearfix"></div>
                  <ul class="category-links">
                    <li><a href="#">Business</a></li>
                    <li><a class="active" href="#">Education</a></li>
                    <li><a href="#">Medical</a></li>
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Photogreaphy</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--end sidebar box-->
            
            <div class="col-md-12 nopadding">
              <div class="blog1-sidebar-box">
                <div class="text-box-inner">
                  <h5 class="uppercase dosis">Latest Posts</h5>
                  <div class="clearfix"></div>
                  <div class="blog1-sidebar-posts">
                    <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
                    <div class="text-box-right">
                      <h6 class="less-mar3 uppercase dosis nopadding"><a href="#">Clean And Modern</a></h6>
                      <p>Lorem ipsum dolor sit</p>
                      <div class="post-info"> <span>By John Doe</span><span>May 19</span> </div>
                    </div>
                  </div>
                  <!--end item-->
                  
                  <div class="blog1-sidebar-posts active">
                    <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
                    <div class="text-box-right">
                      <h6 class="less-mar3 uppercase dosis nopadding"><a href="#">Clean And Modern</a></h6>
                      <p>Lorem ipsum dolor sit</p>
                      <div class="post-info"> <span>By John Doe</span><span>May 19</span> </div>
                    </div>
                  </div>
                  <!--end item-->
                  
                  <div class="blog1-sidebar-posts">
                    <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
                    <div class="text-box-right">
                      <h6 class="less-mar3 uppercase dosis nopadding"><a href="#">Clean And Modern</a></h6>
                      <p>Lorem ipsum dolor sit</p>
                      <div class="post-info"> <span>By John Doe</span><span>May 19</span> </div>
                    </div>
                  </div>
                  <!--end item--> 
                  
                </div>
              </div>
            </div>
            <!--end sidebar box-->
            
            <div class="col-md-12 nopadding">
              <div class="blog1-sidebar-box">
                <div class="text-box-inner">
                  <h5 class="uppercase dosis">Flickr Feed</h5>
                  <div class="clearfix"></div>
                  <ul id="basicuse" class="thumbs">
                  </ul>
                </div>
              </div>
            </div>
            <!--end sidebar box-->
            
            <div class="col-md-12 nopadding">
              <div class="blog1-sidebar-box">
                <div class="text-box-inner">
                  <h5 class="uppercase dosis">Tags</h5>
                  <div class="clearfix"></div>
                  <ul class="tags">
                    <li><a href="#">Animation</a></li>
                    <li><a href="#">Art</a></li>
                    <li><a href="#">UI Design</a></li>
                    <li><a href="#">Photography</a></li>
                    <li><a class="active" href="#">Design</a></li>
                    <li><a href="#">Art</a></li>
                    <li><a href="#">Responsive</a></li>
                    <li><a href="#">Develop</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--end sidebar box-->
            
            <div class="col-md-12 nopadding">
              <div class="blog1-sidebar-box">
                <div class="text-box-inner">
                  <h5 class="uppercase dosis">Newsletter</h5>
                  <div class="clearfix"></div>
                  <input class="blog1-sidebar-serch_input" type="search" placeholder="Email Address">
                  <input name="" value="Submit" class="blog1-sidebar-serch-submit" type="submit">
                </div>
              </div>
            </div>
            <!--end sidebar box-->
            
            <div class="col-md-12 nopadding">
              <div class="blog1-sidebar-box">
                <div class="text-box-inner">
                  <h5 class="uppercase dosis">Featured Works</h5>
                  <div class="clearfix"></div>
                  <ul class="sidebar-works">
                    <li><a href="#"><img src="http://placehold.it/90x90" alt=""/></a></li>
                    <li><a href="#"><img src="http://placehold.it/90x90" alt=""/></a></li>
                    <li class="last"><a><img src="http://placehold.it/90x90" alt=""/></a></li>
                    <li><a href="#"><img src="http://placehold.it/90x90" alt=""/></a></li>
                    <li><a href="#"><img src="http://placehold.it/90x90" alt=""/></a></li>
                    <li class="last"><a href="#"><img src="http://placehold.it/90x90" alt=""/></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--end sidebar box--> 
            
          </div>
          <!--end left item--> 
          
        </div>
      </div>
    </section>
  <!--end main bg-->
  <div class="clearfix"></div>
  
  <section class="section-dark sec-padding">
    <div class="container ">
      <div class="row">
        <div class="col-md-4 bmargin clearfix">
          <div class="item-holder">
            <h4 class="uppercase less-mar3 dosis text-white">Recent Posts</h4>
            <div class="footer-title-bottomstrip2"></div>
            <div class="clearfix"></div>
            <div class="blog1-sidebar-posts">
              <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
              <div class="text-box-right">
                <h6 class="less-mar3 uppercase dosis nopadding text-white"><a href="#">Clean And Modern</a></h6>
                <p>Lorem ipsum dolor sit</p>
                <div class="blog1-post-info dark"> <span>By John Doe</span><span>May 19</span> </div>
              </div>
            </div>
            <div class=" divider-line solid dark"></div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="blog1-sidebar-posts">
              <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
              <div class="text-box-right">
                <h6 class="less-mar3 uppercase dosis nopadding text-white"><a href="#">Clean And Modern</a></h6>
                <p>Lorem ipsum dolor sit</p>
                <div class="blog1-post-info dark"> <span>By John Doe</span><span>May 19</span> </div>
              </div>
            </div>
          </div>
        </div>
        <!--end item-->
        
        <div class="col-md-4 bmargin clearfix">
          <h4 class="uppercase less-mar3 dosis text-white">search widget</h4>
          <div class="footer-title-bottomstrip2"></div>
          <div class="clearfix"></div>
          <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis. </p>
          <br/>
          <input class="blog1-sidebar-serch_input dark" type="search" placeholder="Email Address">
          <input name="" value="Submit" class="blog1-sidebar-serch-submit dark" type="submit">
          <div class="clearfix"></div>
          <br/>
          <br/>
          <ul class="social-icons-3 dark">
            <li><a class="twitter" href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
            <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <!--end item-->
        
        <div class="col-md-4 bmargin clearfix">
          <h4 class="uppercase less-mar3 dosis text-white">Featured News</h4>
          <div class="footer-title-bottomstrip2"></div>
          <div class="clearfix"></div>
          <div id="owl-demo11" class="owl-carousel">
            <div class="item"> <a href="#"><img src="http://placehold.it/400x220" alt="" class="img-responsive"/></a> <br/>
              <h4 class="dosis uppercase less-mar1 text-white"><a href="#">Aliquam ornare</a></h4>
              <div class="blog1-post-info dark"> <span>By John Doe</span><span>May 19</span> </div>
            </div>
            <!--end slide item-->
            
            <div class="item"> <a href="#"><img src="http://placehold.it/400x220" alt="" class="img-responsive"/></a> <br/>
              <h4 class="dosis uppercase less-mar1 text-white"><a href="#">Aliquam ornare</a></h4>
              <div class="blog1-post-info dark"> <span>By John Doe</span><span>May 19</span> </div>
            </div>
            <!--end slide item--> 
            
          </div>
        </div>
        <!--end item-->
        
        <div class="clearfix"></div>
        <br/>
        <br/>
        <div class="divider-line solid dark"></div>
        <br/>
        <div class="col-md-2"> <br/>
          <img src="images/flogo.png" alt=""/> </div>
        <div class="col-md-10">
          <blockquote class="style1"><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci.</span></blockquote>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  <section class="section-copyrights sec-moreless-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> <span>Copyright © 2019 <a href="https://1.envato.market/hasta-html-by-codelayers">hasta</a> By <a href="https://1.envato.market/codelayers">Codelayers</a> | All rights reserved.</span></div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <a href="#" class="scrollup yellow-green"></a><!-- end scroll to top of the page--> 
</div>
<!-- end site wraper -->

<!-- ============ JS FILES ============ --> 

<script type="text/javascript" src="js/universal/jquery.js"></script> 
<script src="js/bootstrap/bootstrap.min.js" type="text/javascript"></script> 
<script src="js/jFlickrFeed/jflickrfeed.min.js"></script> 
<script>
$('#basicuse').jflickrfeed({
limit: 6,
qstrings: {
id: '133294431@N08'
},
itemTemplate: 
'<li>' +
'<a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a>' +
'</li>'
});
</script> 
<script src="js/mainmenu/customeUI.js"></script> 
<script src="js/scrolltotop/totop.js"></script> 
<script src="js/mainmenu/jquery.sticky.js"></script> 
<script src="js/owl-carousel/owl.carousel.js"></script> 
<script src="js/owl-carousel/custom.js"></script> 
<script type="text/javascript" src="js/smart-forms/jquery.form.min.js"></script> 
<script type="text/javascript" src="js/smart-forms/jquery.validate.min.js"></script> 
<script type="text/javascript" src="js/smart-forms/additional-methods.min.js"></script> 
<script type="text/javascript" src="js/smart-forms/smart-form.js"></script> 

<script src="js/scripts/functions.js" type="text/javascript"></script>
</body>
</html>
